@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');
.dripr-viewer-card {
  background: #FFFFFF;
  width: 400px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  margin: 0 auto;
  overflow: hidden;
  font-size: 14px;
  font-family: 'Open Sans';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.dripr-viewer-card-header {
  position: relative;
  background: #303841;
  height: 300px;
  text-align: center;
  overflow: hidden;
}
.dripr-viewer-card-header__avatar {
  background: #303841;
  background-position: center 30%;
  background-size: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
}
.dripr-viewer-card-header__follow {
  position: absolute;
  top: 20px;
  right: 20px;
  background: #FFFFFF;
  border-radius: 2px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 6px 10px;
  color: #333333;
  font-size: 10px;
  font-weight: 600;
  line-height: normal;
  text-decoration: none;
  text-transform: uppercase;
}
.dripr-viewer-card-content {
  text-align: center;
  padding: 20px 20px;
}
.dripr-viewer-card-content__username {
  margin: 0 0 10px;
  color: #333333;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}
.dripr-viewer-card-content__bio {
  color: #666666;
  font-size: 12px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.dripr-viewer-card-footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #F3F3F3;
  padding: 15px 40px;
  color: #333333;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
}
.dripr-viewer-card-footer .label {
  display: block;
  margin: 4px 0 0;
  color: #666666;
  font-size: 10px;
  font-weight: 400;
}
